* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: OpenSansB;
  src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSansL;
  src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSansR;
  src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSansSB;
  src: url(fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSansI;
  src: url(fonts/OpenSans-LightItalic.ttf);
}
header {
  width: 100%;
  height: 140px;
}
header .primary-nav {
  width: 100%;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}
header .primary-nav .hamburger {
  display: none;
  position: fixed;
  left: 20px;
}
header .primary-nav .bar {
  display: block;
  width: 25px;
  height: 3.2px;
  border-radius: 10px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #222;
}
header .primary-nav .logo {
  width: 187px;
  height: 32px;
  background-image: url(../images/logo.svg);
}
header .primary-nav .searchbar {
  max-width: 600px;
  height: 40px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fdfdfd;
  border: #999 solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .primary-nav .searchbar .searchicon {
  width: 30px;
  height: 28px;
  background-image: url(../images/searchIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .primary-nav .searchbar input {
  border: none;
  min-width: 350px;
  height: 35px;
  background-color: #fdfdfd;
  font-size: 14px;
  font-family: OpenSansR;
}
header .primary-nav .searchbar input::-webkit-input-placeholder {
  color: #222;
}
header .primary-nav .searchbar input::-moz-placeholder {
  color: #222;
}
header .primary-nav .searchbar input:-ms-input-placeholder {
  color: #222;
}
header .primary-nav .searchbar input::-ms-input-placeholder {
  color: #222;
}
header .primary-nav .searchbar input::placeholder {
  color: #222;
}
header .primary-nav .shippingcontainer {
  width: 282px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .primary-nav .shippingcontainer .freeshipping {
  width: 148px;
  height: 20px;
  font-size: 14px;
  font-family: OpenSansR;
  text-align: center;
}
header .primary-nav .shippingcontainer .cart-login {
  width: 80px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .primary-nav .shippingcontainer .cart-login .profile {
  width: 20px;
  height: 30px;
  background-image: url(../images/profileIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .primary-nav .shippingcontainer .cart-login .cart {
  width: 27px;
  height: 30px;
  background-image: url(../images/minicart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .secondary-nav {
  max-width: 1200px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding-bottom: 20px;
}
header .secondary-nav input {
  display: none;
}
header .secondary-nav .todaysdeals {
  display: none;
}
header .secondary-nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: #111;
  font-family: OpenSansSB;
}
header .secondary-nav a:hover {
  background-color: #eee;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  header {
    height: 160px;
  }
  header .primary-nav {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  header .primary-nav .hamburger {
    display: block;
  }
  header .primary-nav .logo {
    width: 140px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
  }
  header .primary-nav .searchbar {
    display: none;
  }
  header .primary-nav .shippingcontainer {
    width: 80px;
  }
  header .primary-nav .shippingcontainer .freeshipping {
    display: none;
  }
  header .primary-nav .shippingcontainer .cart-login {
    padding: 0;
    width: 60px;
  }
  header .primary-nav .shippingcontainer .cart-login .profile {
    width: 16px;
    height: 24px;
  }
  header .primary-nav .shippingcontainer .cart-login .cart {
    width: 22px;
    height: 24px;
  }
  header .secondary-nav {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .secondary-nav .todaysdeals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ccc;
    width: 100%;
    height: 38px;
    margin: 0;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .secondary-nav .todaysdeals h3 {
    margin-top: 13px;
    font-size: 14px;
    font-family: OpenSansL;
    color: black;
    padding: 5px;
  }
  header .secondary-nav .todaysdeals h2 {
    font-size: 30px;
    font-family: OpenSansSB;
    color: #333;
    padding: 5px;
    margin-top: 10px;
  }
  header .secondary-nav .todaysdeals:hover {
    cursor: pointer;
  }
  header .secondary-nav input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    margin: 5px;
    font-size: 14px;
    font-family: OpenSansSB;
    color: black;
  }
  header .secondary-nav input::-webkit-input-placeholder {
    color: #777;
  }
  header .secondary-nav input::-moz-placeholder {
    color: #777;
  }
  header .secondary-nav input:-ms-input-placeholder {
    color: #777;
  }
  header .secondary-nav input::-ms-input-placeholder {
    color: #777;
  }
  header .secondary-nav input::placeholder {
    color: #777;
  }
  header .secondary-nav a {
    display: none;
  }
}
footer {
  max-width: 1200px;
  min-height: 550px;
  margin: 0 auto;
}
footer .purple-bar {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3b2b2f;
}
footer .purple-bar .findstore-holder {
  width: 450px;
  height: 30px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .purple-bar .findstore-holder .findstore {
  width: 280px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .purple-bar .findstore-holder .findstore .locationicon {
  width: 16px;
  height: 16px;
  background-image: url(../images/location.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .purple-bar .findstore-holder .findstore .locationicon:hover {
  cursor: pointer;
}
footer .purple-bar .findstore-holder .findstore h1 {
  margin-top: 10px;
  height: 16px;
  font-size: 14px;
  font-family: OpenSansR;
  color: white;
  float: right;
}
footer .purple-bar .findstore-holder .findstore h1:hover {
  cursor: pointer;
}
footer .purple-bar .findstore-holder .customerSupport {
  margin-top: 10px;
  color: white;
  width: 700px;
  height: 30px;
}
footer .purple-bar .findstore-holder .customerSupport h1 {
  font-size: 14px;
  font-family: OpenSansR;
  text-align: right;
}
footer .purple-bar .findstore-holder .customerSupport .phoneicon {
  width: 16px;
  height: 16px;
  background-image: url(../images/phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
footer .purple-bar .findstore-holder .customerSupport:hover {
  cursor: pointer;
}
footer .purple-bar .social-holder {
  width: 250px;
  height: 50px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .purple-bar .social-holder h1 {
  font-size: 14px;
  margin-top: 10px;
  font-family: OpenSansR;
  color: white;
}
footer .purple-bar .social-holder .twitter {
  width: 19px;
  height: 19px;
  background-image: url(../images/social-icons-footer.png);
  background-position: -20px;
  background-repeat: no-repeat;
}
footer .purple-bar .social-holder .twitter:hover {
  cursor: pointer;
}
footer .purple-bar .social-holder .instagram {
  width: 19px;
  height: 19px;
  background-image: url(../images/social-icons-footer.png);
  background-position: -73px;
  background-repeat: no-repeat;
}
footer .purple-bar .social-holder .instagram:hover {
  cursor: pointer;
}
footer .purple-bar .social-holder .facebook {
  width: 19px;
  height: 16px;
  background-image: url(../images/social-icons-footer.png);
  background-repeat: no-repeat;
}
footer .purple-bar .social-holder .facebook:hover {
  cursor: pointer;
}
footer .footer-content {
  max-width: 100%;
  min-height: 340px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer-content .footer-column {
  width: 292px;
  height: 280px;
}
footer .footer-content .footer-column .title {
  width: 100%;
  height: 50px;
  color: #2c182c;
}
footer .footer-content .footer-column .title h1 {
  font-size: 20px;
  font-family: OpenSansL;
}
footer .footer-content .footer-column .column-links {
  width: 100%;
  min-height: 30px;
}
footer .footer-content .footer-column .column-links p {
  min-width: 50px;
  text-decoration: none;
  font-size: 14px;
  font-family: OpenSansR;
  margin-bottom: 10px;
}
footer .footer-content .footer-column .column-links p:hover {
  cursor: pointer;
  color: #6b4d6b;
  -webkit-text-decoration: underline #2c182c 3px;
          text-decoration: underline #2c182c 3px;
}
footer .footer-content .footer-column .column-email {
  width: 100%;
  min-height: 260px;
  background-color: firebrick;
}
footer .footer-content .footer-column .column-email p {
  min-width: 50px;
  text-decoration: none;
  font-size: 14px;
  font-family: OpenSansL;
  margin-bottom: 30px;
}
footer .footer-content .footer-column .column-email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-content .footer-column .column-email form input {
  height: 38px;
  width: 220px;
  border: #ccc solid 2px;
  padding-left: 20px;
  font-size: 12px;
  font-family: OpenSansB;
  border-radius: 5px 0 0 5px;
  color: #2c182c;
}
footer .footer-content .footer-column .column-email form input::-webkit-input-placeholder {
  color: #ccc;
}
footer .footer-content .footer-column .column-email form input::-moz-placeholder {
  color: #ccc;
}
footer .footer-content .footer-column .column-email form input:-ms-input-placeholder {
  color: #ccc;
}
footer .footer-content .footer-column .column-email form input::-ms-input-placeholder {
  color: #ccc;
}
footer .footer-content .footer-column .column-email form input::placeholder {
  color: #ccc;
}
footer .footer-content .footer-column .column-email form .footerbutton {
  width: 100px;
  height: 38px;
  border: #fbc612 solid 3px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
  border-radius: 0 5px 5px 0;
  color: #2c182c;
  font-size: 12px;
  font-family: OpenSansB;
}
footer .footer-content .footer-column .column-email form .footerbutton:hover {
  background-color: #fbc612;
  cursor: pointer;
}
footer .footer-content .footer-column .column-email .footer-country {
  border-top: #ccc solid 1px;
  width: 100%;
  height: 120px;
  margin-top: 30px;
}
footer .footer-content .footer-column .column-email .footer-country h1 {
  margin-top: 5px;
  font-size: 20px;
  font-family: OpenSansL;
}
footer .footer-content .footer-column .column-email .footer-country .choose-country {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-content .footer-column .column-email .footer-country .choose-country .country-image-holder {
  width: 40px;
  height: 40px;
  border: #ccc solid 2px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer-content .footer-column .column-email .footer-country .choose-country .country-image-holder .country-image {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 20px;
}
footer .footer-content .footer-column .column-email .footer-country .choose-country .country-name {
  width: 250px;
  height: 50px;
}
footer .footer-content .footer-column .column-email .footer-country .choose-country .country-name h3 {
  width: 100px;
  text-align: center;
  background-color: #eee;
  font-size: 14px;
  font-family: OpenSansL;
  margin-top: 15px;
  margin-left: 15px;
}
footer .footer-content .footer-column2 {
  max-width: 292px;
  height: 280px;
}
footer .footer-content .footer-column2 .title {
  width: 100%;
  height: 50px;
  color: #2c182c;
}
footer .footer-content .footer-column2 .title h1 {
  font-size: 20px;
  font-family: OpenSansL;
}
footer .footer-content .footer-column2 .column-links {
  width: 100%;
  min-height: 30px;
}
footer .footer-content .footer-column2 .column-links p {
  min-width: 50px;
  text-decoration: none;
  font-size: 14px;
  font-family: OpenSansR;
  margin-bottom: 10px;
}
footer .footer-content .footer-column2 .column-links p:hover {
  cursor: pointer;
  color: #6b4d6b;
  -webkit-text-decoration: underline #2c182c 3px;
          text-decoration: underline #2c182c 3px;
}
footer .footer-content .footer-column2 .column-email {
  max-width: 100%;
  min-height: 260px;
}
footer .footer-content .footer-column2 .column-email p {
  min-width: 50px;
  text-decoration: none;
  font-size: 14px;
  font-family: OpenSansL;
  margin-bottom: 30px;
}
footer .footer-content .footer-column2 .column-email form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-content .footer-column2 .column-email form input {
  height: 38px;
  width: 220px;
  border: #ccc solid 2px;
  padding-left: 20px;
  font-size: 12px;
  font-family: OpenSansB;
  border-radius: 5px 0 0 5px;
  color: #2c182c;
}
footer .footer-content .footer-column2 .column-email form input::-webkit-input-placeholder {
  color: #ccc;
}
footer .footer-content .footer-column2 .column-email form input::-moz-placeholder {
  color: #ccc;
}
footer .footer-content .footer-column2 .column-email form input:-ms-input-placeholder {
  color: #ccc;
}
footer .footer-content .footer-column2 .column-email form input::-ms-input-placeholder {
  color: #ccc;
}
footer .footer-content .footer-column2 .column-email form input::placeholder {
  color: #ccc;
}
footer .footer-content .footer-column2 .column-email form .footerbutton {
  width: 100px;
  height: 38px;
  border: #fbc612 solid 3px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
  border-radius: 0 5px 5px 0;
  color: #2c182c;
  font-size: 12px;
  font-family: OpenSansB;
}
footer .footer-content .footer-column2 .column-email form .footerbutton:hover {
  background-color: #fbc612;
  cursor: pointer;
}
footer .footer-content .footer-column2 .column-email .footer-country {
  border-top: #ccc solid 1px;
  width: 100%;
  height: 120px;
  margin-top: 30px;
}
footer .footer-content .footer-column2 .column-email .footer-country h1 {
  margin-top: 5px;
  font-size: 20px;
  font-family: OpenSansL;
}
footer .footer-content .footer-column2 .column-email .footer-country .choose-country {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-content .footer-column2 .column-email .footer-country .choose-country .country-image-holder {
  width: 40px;
  height: 40px;
  border: #ccc solid 2px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer-content .footer-column2 .column-email .footer-country .choose-country .country-image-holder .country-image {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-image: url(../images/flag.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-content .footer-column2 .column-email .footer-country .choose-country .country-name {
  width: 250px;
  height: 50px;
}
footer .footer-content .footer-column2 .column-email .footer-country .choose-country .country-name h3 {
  width: 100px;
  text-align: center;
  background-color: #eee;
  font-size: 14px;
  font-family: OpenSansL;
  margin-top: 15px;
  margin-left: 15px;
}
footer .bottom-bar {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  border-top: #ccc solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 130px;
}
footer .bottom-bar .copywright {
  color: #aaa;
  font-size: 14px;
  font-family: OpenSansI;
}
footer .bottom-bar .privacy-links {
  color: #aaa;
  font-size: 14px;
  font-family: OpenSansI;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .bottom-bar .privacy-links p {
  color: #aaa;
  padding: 10px;
  height: 25px;
}
footer .bottom-bar .privacy-links p:hover {
  cursor: pointer;
}

@media (max-width: 725px) {
  footer .purple-bar {
    height: 193px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .purple-bar .findstore-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 140px;
  }
  footer .purple-bar .findstore-holder .findstore {
    height: 120px;
    width: 100%;
    margin-bottom: 0;
    margin-left: -16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .purple-bar .findstore-holder .findstore .locationicon {
    left: 50px;
    position: absolute;
  }
  footer .purple-bar .findstore-holder .findstore h1 {
    font-size: 16px;
  }
  footer .purple-bar .findstore-holder .customerSupport {
    height: 120px;
    text-align: center;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
  }
  footer .purple-bar .findstore-holder .customerSupport h1 {
    width: 160px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  footer .purple-bar .findstore-holder .customerSupport .phoneicon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50px;
    position: absolute;
  }
  footer .purple-bar .social-holder h1 {
    display: none;
  }
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-content .footer-column {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  footer .footer-content .footer-column .column-email {
    width: 500px;
    margin: 0 auto;
    float: left;
  }
  footer .footer-content .footer-column2 {
    border-top: #ccc solid 1px;
    max-width: 100%;
    height: 320px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 50px;
  }
  footer .footer-content .footer-column2 .title {
    text-align: left;
  }
  footer .footer-content .footer-column2 .column-email {
    width: 100%;
    margin: 0 auto;
    float: left;
    text-align: left;
  }
  footer .footer-content .footer-column2 .column-email form input {
    width: 100%;
  }
  footer .footer-content .footer-column2 .column-email .footer-country h1 {
    text-align: center;
  }
  footer .footer-content .footer-column2 .column-email .footer-country .choose-country {
    width: 300px;
  }
  footer .bottom-bar {
    width: 300px;
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .bottom-bar .copywright {
    width: 300px;
    padding: 10px;
    font-family: OpenSansL;
  }
  footer .bottom-bar .privacy-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 300px;
    padding: 10px;
    height: 120px;
  }
  footer .bottom-bar .privacy-links p {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: OpenSansL;
  }
}