li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  min-height: 100px;
  .primary-nav {
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    .hamburger {
      display: none;
      position: block;
      left: 20px;
    }

    .bar {
      display: block;
      width: 25px;
      height: 3.2px;
      border-radius: 10px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #222;
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      right: 50px;
    }
    .nav-item {
      margin-left: 30px;
      width: 100px;
      height: 40px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .nav-item:hover {
      background-color: #e7eef4;
      transition: all 0.5 ease-out;
      cursor: pointer;
    }
    .nav-link {
      font-size: 14px;
      font-family: Osans;
      color: #1f5c71;
    }
    a {
      .logo {
        width: 187px;
        height: 32px;
        background-image: url(../images/logo.svg);
      }
    }

    .searchbar {
      max-width: 600px;
      height: 40px;
      border-radius: 20px;
      padding: 20px;
      background-color: rgb(240, 240, 240);
      border: #999 solid 1px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .searchicon {
        width: 30px;
        height: 28px;
        background-image: url(../images/searchIcon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      input {
        border: none;
        min-width: 350px;
        height: 35px;
        background-color: rgb(240, 240, 240);
        font-size: 14px;
        font-family: OpenSansSB;
        padding-left: 20px;
      }
      input::placeholder {
        color: #222;
      }
      input:focus {
      }
    }
    .shippingcontainer {
      width: 282px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .freeshipping {
        width: 148px;
        height: 20px;
        font-size: 14px;
        font-family: OpenSansR;
        text-align: center;
      }

      .cart-login {
        width: 80px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          padding: 8px;
          text-decoration: none;
          .profile {
            // display: none;
            width: 20px;
            height: 30px;
            background-image: url(../images/profileIcon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .signout {
            width: 55px;
            height: 30px;
            border: #222 solid 2px;

            font-family: OpenSansR;
            font-size: 10px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;

            display: none;
          }
          .cart {
            width: 27px;
            height: 30px;
            background-image: url(../images/minicart.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            .circleCount {
              display: none;
              width: 24px;
              height: 24px;
              border-radius: 20px;
              background-color: #3b2b2f;
              position: absolute;
              right: -10px;
              top: -4px;
              display: flex;
              align-items: center;
              justify-content: space-evenly;

              p {
                margin-top: 13px;
                font-size: 14px;
                font-family: OpenSansSB;
                color: white;
              }
            }
          }
        }
        a:hover {
          background-color: #eee;
          border-radius: 10px;
        }
      }
    }
  }
  .secondary-nav {
    max-width: 1200px;
    min-height: 56px;
    // background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 20px;
    input {
      display: none;
    }
    .todaysdeals {
      display: none;
    }
    .nav-menu {
      .welcome {
        display: none;
        width: 100%;
        height: 100px;
        background-color: grey;
        h1 {
        }
        .welcometext {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;

          .loginlinks {
            width: 170px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
              height: 20px;
              padding-left: 16px;
              font-size: 14px;
              font-family: OpenSansL;
              text-decoration: underline;
            }
            p:hover {
              cursor: pointer;
            }
          }
          h3 {
            font-size: 12px;
            font-family: OpenSansL;
          }
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li {
          .redcolor {
            color: rgb(200, 16, 46);
          }
          .disappear {
          }
          a {
            padding: 10px 20px;
            text-decoration: none;
            color: #111;
            font-family: OpenSansSB;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .dealicon {
              width: 15px;
              height: 15px;
              margin: 0 auto;
              background-image: url(../images/sale-icon.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
          a:hover {
            background-color: #eee;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 1150px) {
  header {
    min-height: 100px;
    .secondary-nav {
      width: 88%;
      .nav-menu {
        .disappear {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  header {
    min-height: 100px;
    .primary-nav {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: none;
      .hamburger {
        display: block;
      }
      a {
        margin: 0 auto;
        .logo {
          width: 140px;
          height: 24px;
          margin-right: -80px;
          padding: 0;
        }
      }

      .searchbar {
        display: none;
      }
      .shippingcontainer {
        width: 80px;
        .freeshipping {
          display: none;
        }
        .cart-login {
          padding: 0;
          width: 60px;
          a {
            padding: 6px;
            .profile {
              width: 16px;
              height: 24px;
            }
            .signout {
              width: 30px;
              height: 30px;
            }
            .cart {
              width: 22px;
              height: 24px;
            }
          }
        }
      }
    }
    .secondary-nav {
      display: block;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      min-height: 100px;

      .todaysdeals {
        display: flex;
        background-color: #ccc;
        width: 100%;
        height: 38px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          margin-top: 13px;
          font-size: 14px;
          font-family: OpenSansL;
          color: black;
          padding-right: 5px;
        }
        h2 {
          font-size: 30px;
          font-family: OpenSansSB;
          color: #333;
          padding-left: 5px;
          margin-top: -10px;
          height: 20px;
        }
      }
      .todaysdeals:hover {
        cursor: pointer;
      }
      input {
        display: flex;
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 100%;
        height: 40px;
        margin: 5px;
        font-size: 14px;
        font-family: OpenSansSB;
        color: black;
      }
      input::placeholder {
        color: #777;
      }
      a {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  header {
    min-height: 100px;
    .secondary-nav {
      min-height: 100px;
      .nav-menu {
        min-height: 150px;
        .welcome {
          display: block;
          width: 100%;
          height: 100px;
          background-color: #ddd;
          h1 {
            height: 30px;
            text-align: left;
            padding: 20px;
            font-size: 20px;
            font-family: OpenSansR;
          }
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          li {
            .redcolor {
              color: rgb(200, 16, 46);
            }
            .disappear {
            }
            a {
              padding: 10px 20px;
              text-decoration: none;
              color: #111;
              font-family: OpenSansSB;
              display: flex;
              align-items: center;
              justify-content: space-evenly;

              .dealicon {
                width: 15px;
                height: 15px;
                margin: 0 auto;
                background-image: url(../images/sale-icon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
            }
            a:hover {
              background-color: #eee;
              border-radius: 10px;
            }
          }
        }
      }
    }
    .nav-menu {
      display: none;
      top: 100px;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      // height: 100%;
      .welcome {
        display: flex;
      }

      ul {
        flex-direction: column;
        li {
          margin-bottom: 5px;
          width: 100%;
          border-bottom: #aaa solid 2px;
        }
      }
    }

    .nav-menu.active {
      display: flex;
      margin: 0 auto;
    }

    .nav-item {
      margin: 2.5rem 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .welcome {
      display: flex;
      width: 100%;
      height: 100px;
      background-color: grey;
    }
  }
}
